<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <style type="text/css">
      td, th {border:1px solid black;}
    </style>
    <title>fridge's goods message</title>
</head>
<body>
<p>Fridge's Goods Msg</p>
</br>
<div>
  <form name="input" method="get" action="/">
<table border="1">
  <tr>
    <li>Name Number Time</li>
  </tr>
    {% for item in items %}
    <tr>{% for itemson in item%}
      <td> {{ escape(itemson) }}</td>
             {% end %}</tr>
                    {% end %}
</table>
<input type="submit" value="Submit" />
</form>
</div>
</body>
</html>
